<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
</head>
<body>
    <div id="sidebar">
        <div id="logo">
            <span class="logo-text">Instagram</span>
        </div>
        <a href="/home"><span class="icon">🏠</span> Home</a>
        <a href="#search"><span class="icon">🔍</span> Search</a>
        <a href="#explore"><span class="icon">🌐</span> Explore</a>
        <a href="#reels"><span class="icon">🎬</span> Reels</a>
        <a href="#messages"><span class="icon">💬</span> Messages</a>
        <a href="#notifications"><span class="icon">🔔</span> Notifications</a>
        <a href="/addpost"><span class="icon">➕</span> Create</a>
        <div id="profile-section">
            <img src="static/images/{{user.image}}" alt="Profile Image" class="profile-image">
            <a href="/profile" class="profile-link">{{user.firstname}}</a>
        </div>
    </div>
    <div class = "content">
        <section class="main">
            <div class="wrapper">
                <div class="left-col">
                    <div class="status-wrapper">
                        <div class="status-card">
                            <div class="profile-pic"><img src="static/img/s3.png" alt=""></div>
                            <p class="username">user_name_1</p>
                        </div>
                        <div class="status-card">
                            <div class="profile-pic"><img src="static/img/s3.png" alt=""></div>
                            <p class="username">user_name_2</p>
                        </div>
                        <div class="status-card">
                            <div class="profile-pic"><img src="static/img/s3.png" alt=""></div>
                            <p class="username">user_name_3</p>
                        </div>
                    </div>  
                </div>
            </div>
        </section>

        {% for post in posts_dic %}
        <section class="main">
            <div class="wrapper">
                <div class="left-col">
                    <div class="post">
                        <div class="info">
                            <div class="user">
                                <div class="profile-pic">
                                    {% if post.posted_user.image %}
                                        <img src="static/images/{{post.posted_user.image}}" alt="">
                                    {% else %}
                                        <img src="static/img/s3.png" alt="">
                                    {% endif %}

                                </div>
                                <p class="username">{{post.username}},{{post.id}}</p>
                            </div>
                            <img src="static/img/s3.png" class="options" alt="">
                        </div>
                        {% if post.image%}
                            <img src="static/images/{{post.image}}" class="post-image" alt="">
                        {% else %}
                            <img src="static/img/s3.png" class="post-image" alt="">
                        {% endif%}
                        <div class="post-content">
                            <div class="reaction-wrapper">
                                {%if user.username in post.post_instance.likes %}
                                    <img src="static/home_images/heart-solid.svg" class="icon like1" id =imgid__{{post.id}} alt="" onclick="likepost('{{post.id}}')">
                                {% else %}
                                    <img src="static/home_images/notification.svg" class="icon like1" id =imgid__{{post.id}} alt="" onclick="likepost('{{post.id}}')">
                                {% endif %}
                                
                                <img src="static/home_images/message.svg" class="icon" alt="">
                                <img src="static/img/s3.png" class="icon" alt="">
                                <img src="static/img/s3.png" class="save icon" alt="">
                            </div>
                            <p class="likes"><span id="likes_count_{{ post.id }}">{{post.likes}}</p>
                            <p class="description">{{post.description}}</p>
                            <p class="post-time">2 minutes ago</p>
                            <p class = "home_comments"><a href = "/showcomments/{{post.id}}">View all {{post.comments}} comments</a></p>
                        </div>
                        <div class="comment-wrapper">
                            <img src="static/images/{{post.posted_user.image}}" class="icon" alt="">
                            <input type="text" id="comment_text{{post.id}}" class="comment-box" placeholder="Add a comment">
                            <button class="comment-btn" onclick="addComment('{{ post.id }}')">post</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endfor %}
    </div>

    <script>
        function likepost(postId) {
            fetch(`likepost/${postId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({}),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                document.getElementById(`likes_count_${postId}`).innerText = data.likes_count;

                var imageElement = document.querySelector(`#imgid__${postId}`);
                if (data.mesage1){
                    console.log("changing to heart-solid")
                    imageElement.src = 'static/home_images/heart-solid.svg';
                }
                else{
                    console.log("changing to Notification")
                    imageElement.src = 'static/home_images/notification.svg';
                }

            })
            .catch(error => console.error('Error:', error));
        }


        function addComment(postId) {

            var commentInput = document.getElementById('comment_text' + postId);
            var commentText = commentInput.value;
            console.log(commentText)

            fetch(`/add_comment/${postId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'comment_text': commentText,
                }),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                commentInput.value = '';
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>

</body>
</html>

