<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
</head>
<body>
    <div id="sidebar">
        <div id="logo">
            <span class="logo-text">Instagram</span>

        </div>
        <a href="/home"><span class="icon">🏠</span> Home</a>
        <a href="#search"><span class="icon">🔍</span> Search</a>
        <a href="#explore"><span class="icon">🌐</span> Explore</a>
        <a href="#reels"><span class="icon">🎬</span> Reels</a>
        <a href="#messages"><span class="icon">💬</span> Messages</a>
        <a href="#notifications"><span class="icon">🔔</span> Notifications</a>
        <a href="/addpost"><span class="icon">➕</span> Create</a>
        <div id="profile-section">
            <img src="static/img/s3.png" alt="Profile Image" class="profile-image">
            <a href="#profile" class="profile-link">Your Name</a>
        </div>
    </div>
    <div class = "content">
        <section class="main">
            <div class="wrapper">
                <div class="left-col">
                    <div class="status-wrapper">
                        <div class="status-card">
                            <div class="profile-pic"><img src="static/img/s3.png" alt=""></div>
                            <p class="username">user_name_1</p>
                        </div>
                        <div class="status-card">
                            <div class="profile-pic"><img src="static/img/s3.png" alt=""></div>
                            <p class="username">user_name_2</p>
                        </div>
                        <div class="status-card">
                            <div class="profile-pic"><img src="static/img/s3.png" alt=""></div>
                            <p class="username">user_name_3</p>
                        </div>
                    </div>  
                </div>
            </div>
        </section>

        {%for user,details in posts.items()%}
        <section class="main">
            <div class="wrapper">
                <div class="left-col">
                    <div class="post">
                        <div class="info">
                            <div class="user">
                                <div class="profile-pic"><img src="static/img/s3.png" alt=""></div>
                                <p class="username">{{user}},{{details.likes}}</p>
                            </div>
                            <img src="static/img/s3.png" class="options" alt="">
                        </div>
                        <img src="static/img/s3.png" class="post-image" alt="">
                        <div class="post-content">
                            <div class="reaction-wrapper">
                                <img src="static/home_images/notification.svg" class="icon" alt="">
                                <img src="static/home_images/message.svg" class="icon" alt="">
                                <img src="static/img/s3.png" class="icon" alt="">
                                <img src="static/img/s3.png" class="save icon" alt="">
                            </div>
                            <p class="likes">1,012 likes</p>
                            <p class="description"><span>username </span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur tenetur veritatis placeat, molestiae impedit aut provident eum quo natus molestias?</p>
                            <p class="post-time">2 minutes ago</p>
                        </div>
                        <div class="comment-wrapper">
                            <img src="static/img/s3.png" class="icon" alt="">
                            <input type="text" class="comment-box" placeholder="Add a comment">
                            <button class="comment-btn">post</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endfor %}
    </div>
</body>
</html>