<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Instagram Clone</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
  </head>
  <body>
    <header>
        <div class="container">
            <div class="profile">
                <div class="profile-image">
                    <img src="static/images/{{user.image}}"
                        alt="" width="160px">
                </div>
                <div class="profile-user-settings">
                    <h1 class="profile-user-name">{{user.username}}</h1>
                    <button class="btn profile-edit-btn">Edit Profile</button>
                    <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog"
                            aria-hidden="true"></i></button>
                </div>
                <div class="profile-stats">
                    <ul>
                        <li><span class="profile-stat-count">{{number}}</span> posts</li>
                        <li><span class="profile-stat-count">188</span> followers</li>
                        <li><span class="profile-stat-count">206</span> following</li>
                    </ul>
                </div>
                <div class="profile-bio">
                    <p><span class="profile-real-name">Jane Doe</span> Lorem ipsum dolor sit, amet consectetur adipisicing
                    </p>
                </div>
            </div>
        </div>
        
    </header>
    

    <main>
        <div class="container">
            <div class="gallery">


                {% for post in user_images %}
                <div class="gallery-item" tabindex="0">
                    <img src="static/images/{{post.image_filename}}"
                        class="gallery-image" alt="">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                    class="fas fa-heart" aria-hidden="true"></i> 56</li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i
                                    class="fas fa-comment" aria-hidden="true"></i> 2</li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    
  </body>
</html>